 Library             Use                                   
 ------------------  ------------------------------------- 
 google.colab.files  Upload datasets                       
 pandas              Data loading, cleaning, preprocessing 
 scikit-learn        Machine learning & evaluation         
 matplotlib          Basic plotting                        
 seaborn             Statistical visualizations            
 IPython.display     Display plots in Colab                                        
 Streamlit           Frontend UI, user interaction, visualization 
 Pandas              Data loading, EDA, feature formatting        
 Pickle              Model persistence and loading                
